<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<title>index</title>
<link href="css/index.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/base.css">
<script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src='js/jsrender.js'></script>
</head>
<body>
    <div class="topbar">
            <div class="container">
                <div class="topbar-nav">
                    <a href="#">小米商城</a><span class="sep">|</span><a href="#">MIUI</a><span class="sep">|</span><a href="#">米聊</a><span class="sep">|</span><a href="#">游戏</a><span class="sep">|</span><a href="#">多看阅读</a><span class="sep">|</span><a href="#">云服务</a><span class="sep">|</span><a href="#">金融</a><span class="sep">|</span><a href="#">小米商城移动版</a><span class="sep">|</span><a href="#">问题反馈</a><span class="sep">|</span><a href="#">Select Region</a>
                </div>
                <div class="topbar-cart">
                    <a href="#" class="cart-mini">
                        <i class="iconfont">&#xe600;</i>
                        购物车<span>( 2 )</span>
                    </a>
                    <div class="cart-menu">
                        <!-- 没有东西时：
                        <div class="cart-tip">购物车中还没有商品,赶紧选购吧</div> -->
                        <ul class="items">
                            <li>
                                <div class="cart-item first">
                                    <a href="#">
                                        <img src='img/cart01.jpg'>
                                    </a>
                                    <a class="name" href="#">最生活浴巾·青春系列 蓝色</a>
                                    <span class="price">99元 x 1</span>
                                </div>
                            </li>
                            <li>
                                <div class="cart-item">
                                    <a href="#">
                                        <img src='img/cart02.jpg'>
                                    </a>
                                    <a class="name" href="#">8H护颈乳胶枕 雅米色</a>
                                    <span class="price">239元 x 1</span>
                                </div>
                            </li>
                        </ul>
                        <div class="cart-total fn-clear">
                            <span class="total">
                                共 <em>2</em> 件商品
                                <span class="price"><em>338.00</em>元</span>
                            </span>
                            <a class="btn-cart" href="#">去购物车结算</a>
                        </div>
                    </div>
                </div>
                <div class="userInfo">
                    <a href="#">登录</a><span class="sep">|</span><a href="#">注册</a><span class="sep">|</span><a href="#">消息通知</a>
                </div>
            </div>
        </div>



    <div class="header">
    	<div class="container">
			<div class="header-logo">
    			<img src="img/header-logo.png" alt="header-logo.png">
    		</div>
    		<div class="header-gif">
    			<img src="img/header-gif.gif" alt="header-gif.gif">
    		</div>
    		<div class="header-nav">
    			<ul class="nav-list">
    				<!-- 已填充 -->
    			</ul>
    		</div>
    		<div class="header-search">
    			<!-- 已填充 -->
    		</div><!-- header-search -->
    	</div><!-- container -->
    		<div class="header-nav-menu">
    			<div class="container">
    				<ul class="nav-menu-list">
    					<!-- 已填充 -->
    				</ul>
    			</div>
	    	</div><!-- header-nav-menu -->
    </div><!-- header -->

    <div class="home">
    	<div class="container">
    		<div class="home-slider">
    			<!-- 已填充 -->
    		</div><!-- home-slider -->
    		<div class="home-bigpic">
    			<div class="home-viewport">
    				<a href="" class="viewport-item first">
    					<img src="img/xmad_14924228925772_WRpTQ.jpg" alt="">
    				</a>
    				<a href="" class="viewport-item">
    					<img src="img/xmad_14939720155301_yPeul.jpg" alt="">
    				</a>
    				<a href="" class="viewport-item">
    					<img src="img/xmad_14939831114856_PVhxc.jpg" alt="">
    				</a>
    				<a href="" class="viewport-item">
    					<img src="img/xmad_14939802616997_OQLnC.jpg" alt="">
    				</a>
    				<a href="" class="viewport-item">
    					<img src="img/xmad_1493971718227_lzIhK.jpg" alt="">
    				</a>
    			</div>
    			<div class="home-controls">
    				<div class="controls-page">
    					<a href="javascript:void(0)" class="page-item active"></a>
    					<a href="javascript:void(0)" class="page-item"></a>
    					<a href="javascript:void(0)" class="page-item"></a>
    					<a href="javascript:void(0)" class="page-item"></a>
    					<a href="javascript:void(0)" class="page-item"></a>
    				</div>
    				<div class="controls-direction">
    					<a href="javascript:void(0)" class="prev"></a>
    					<a href="javascript:void(0)" class="next"></a>
    				</div>
    			</div>
    		</div>
    		<div class="home-center container">
    			<div class="home-center-listbox">
    				<ul class="center-list">
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe602;</i>
    							选购手机
    						</a>
    					</li>
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe62f;</i>
    							企业团购
    						</a>
    					</li>
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe61f;</i>
    							一元活动
    						</a>
    					</li>
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe603;</i>
    							小米移动
    						</a>
    					</li>
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe635;</i>
    							以旧换新
    						</a>
    					</li>
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe61c;</i>
    							话费充值
    						</a>
    					</li>
    				</ul>
    			</div>
    			<div class="home-center-pic">
    				<a href="" class="center-pic-item"><img src="img/xmad_14932836551705_CdYMc.jpg" alt=""></a>
    				<a href="" class="center-pic-item"><img src="img/xmad_14896582916027_isKTx.jpg" alt=""></a>
    				<a href="" class="center-pic-item"><img src="img/b33e26fe-059f-4379-868a-78656675f6b3_2x.jpg" alt=""></a>
    			</div>
    		</div><!-- home-center -->
    		<div class="home-star">
    			<div class="home-star-title">
    				<h2 class="title">小米明星单品</h2>
    				<div class="more">
    					<a href="#" class="prev iconfont">&#xe6aa;</a>
    					<a href="#" class="next iconfont active">&#xe6a9;</a>
    				</div>
    			</div>
    			<div class="home-star-listbox">
    				<ul class="star-list">
    					<li class="star-item-1">
    						<a href="" class='star-item-pic'>
    							<img src="img/e991f1e2-20d8-40c3-bf1d-012b122c986b.jpg" alt="">
    						</a>
    						<h3 class="title">
    							<a href="#">小米5s Plus</a>
    						</h3>
    						<p class="desc">骁龙821旗舰处理器，轻薄金属机身</p>
    						<p class="price">2299元起</p>
    					</li>
    					<li class="star-item-2"></li>
    					<li class="star-item-3"></li>
    					<li class="star-item-4"></li>
    					<li class="star-item-5"></li>
    					<li class="star-item-6"></li>
    					<li class="star-item-7"></li>
    					<li class="star-item-8"></li>
    					<li class="star-item-9"></li>
    					<li class="star-item-10"></li>
    				</ul>
    			</div>
    		</div><!-- home-star -->
    	</div><!-- container -->
    </div><!-- home -->





    <div class="main">
    	<div class="container">
    		<div id="smart" class="main-brick-box main-row-2-box">
    			<div class="main-box-head">
    				<h2 class="title">智能硬件</h2>
    				<div class="more Js-brick-nav">
    					<!-- <a href="#" class="more-link">
    						查看全部
    						<i class="iconfont">&#xe6a9;</i>
    					</a> -->
    					<ul class="more-tab-list">
    						<li class="active">热门</li>
    						<li>耳机音箱</li>
    						<li>电源</li>
    						<li>电池存储卡</li>
    					</ul>
    				</div>
    			</div>
    			<div class="main-box-body">
    				<div class="main-body-static">
    					<ul class="static-list">
    						<li class="static-item static-item-l">
    							<a href="#"><img src="img/xmad_14939709739423_toZsK.jpg" alt=""></a>
    						</li>
    					</ul>
    				</div>
    				<div class="main-body-change">
    					<ul class="change-list">
    						<!-- <li class="change-item">
    							<a href="" class='change-item-pic'>
	    							<img src="img/T1hMK_BjEv1RXrhCrK!220x220.jpg" alt="">
	    						</a>
	    						<h3 class="title">
	    							<a href="#">小米净水器 厨下式</a>
	    						</h3>
	    						<p class="desc">直出纯净水，隐藏式安装</p>
	    						<p class="price">1999元</p>
    						</li> -->
    						<li class="change-item change-item-s">
    							<a href="#" class="change-item-picmore">
    								<i class="iconfont">&#xe644;</i>
    							</a>
    							<a href="#" class="more">浏览更多
    							<small>耳机音箱</small></a>
    							<!-- <a href="#" class="change-item-pic">	<img src="img/T1MDK_B_YT1RXrhCrK!220x220.jpg" alt="">
    							</a>
    							<h3 class="title">
	    							<a href="#">小米蓝牙音箱</a>
	    						</h3>
	    						<p class="price">
	    							<span class="price-num">199</span>
	    							元
	    						</p> -->
	    						<!-- <p class="rank">
	    							<span class="rank-num">359</span>
	    							人评价
	    						</p> -->
	    						<!-- <div class="flag flag-saleoff">享6折</div>
	    						<div class="review-wrapper">
	    							<a href="#">
	    								<span class="review">隐隐约约隐隐约约隐隐约约隐隐约约</span>
	    								<span class="author">来自于<span class="author-id">222</span>的评价</span>
	    							</a>
	    						</div> -->
    						</li>
    					</ul>
    				</div>
    			</div>
    		</div><!-- smart -->
    		<div id="match"></div><!-- match -->
    		<div id="parts"></div><!-- parts -->
    		<div id="around"></div><!-- around -->
    		<div id="recommend">
    			<div class="main-box-head">
    				<h2 class="title">为你推荐</h2>
    				<div class="more">
    					<a href="#" class="prev iconfont ">&#xe6aa;</a>
    					<a href="#" class="next iconfont active">&#xe6a9;</a>
    				</div>
    			</div>
    			<div class="main-box-body">
    				<div class="recommend-wrapper">
    					<ul class="recommend-list">
    						<li class="recommend-item">
    							<dl>
    								<dt>
    									<a href="#">
    										<img src="img/pms_1469583247.6157588.jpg" alt="">
    									</a>
    								</dt>
    								<dd class="recommend-name">
    									<a href="#"> 小米笔记本Air 13.3英寸 </a>
    								</dd>
    								<dd class="recommend-price">4899元</dd>
    								<dd class="recommend-tips">   9332人好评    </dd>
    								<dd class="recommend-notice"></dd>
    							</dl>
    						</li>
    					</ul>
    				</div>
    			</div>
    		</div><!-- recommend -->
    		<div id="comment">
    			<div class="main-box-head">
    				<div class="title">热评产品</div>
    			</div>
    			<div class="main-box-body">
    				<ul class="review-list">
    					<li class="review-item">
    						<div class="pic">
    							<a href="#"><img src="img/12987438-4522-425f-a252-2493152edda1.jpg" alt=""></a>
    						</div>
    						<p class="review">
    							<a href="#">很小巧 像不喜欢戴活塞的人可以试试这种~很舒服包装还是一如既往的简洁 要是有盒子就好了=￣ω￣=</a>
    						</p>
    						<p class="author"> 来自于 鹤唳 的评价 </p>
    						<div class="info">
    							<h3 class="title">
    								<a href="#">小米胶囊耳机</a>
    							</h3>
    							<span class="spe">|</span>
    							<p class="price">
    								<span class="num">69</span>元
    							</p>
    						</div>
    					</li>
    				</ul>
    			</div>
    		</div><!-- hotcomment -->
    		<div id="content">
    			<div class="main-box-head">
    				<h2 class="title">内容</h2>
    			</div>
    			<div class="main-box-body">
    				<ul class="content-list">
    					<li class="content-item content-item-book">
    						<h2 class="title">图书</h2>
    						<div class="carousel-wrapper">
    							<ul class="item-list">
    								<li>
    									<h4 class="name">
    										<a href="#">哈利·波特与被诅咒的孩子</a>
    									</h4>
    									<p class="desc">
    										<a href="#">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！ </a>
    									</p>
    									<p class="price">
    										<a href="#">29.37元</a>
    									</p>
    									<div class="pic">
    										<a href="#"><img src="img/5e5da924-84e3-4959-9e25-5891cdf30757.png" alt=""></a>
    									</div>
    								</li>
    								<li></li>
    								<li class="more">
    									<p class="desc">
    										海量好书，享受精品阅读时光
    										<br>
    										漂亮的中文排版，千万读者选择！
    									</p>
    									<a href="#">前往多看阅读</a>
    									<img class="thumb" src="img/more-duokan.jpg" alt="">
    								</li>
    							</ul>
    						</div>
    						<div class="pagers-wrapper">
    							<ul class="pagers">
    								<li class="pager pager-active">
    									<span class="dot">1</span>
    								</li>
    								<li class="pager">
    									<span class="dot">2</span>
    								</li>
    								<li class="pager">
    									<span class="dot">3</span>
    								</li>
    							</ul>
    						</div>
    						<div class="controls controls-block-small">
    							<a href="#" class="control control-prev iconfont control-disabled">&#xe6aa;</a>
    							<a href="#" class="control control-next iconfont">&#xe6a9;</a>
    						</div>
    					</li>
    					<li class="content-item content-item-theme"></li>
    					<li class="content-item content-item-game"></li>
    					<li class="content-item content-item-app"></li>
    				</ul>
    			</div>
    		</div><!-- content -->
    		<div id="video">
    			<div class="main-box-head">
    				<h2 class="title">视频</h2>
    				<div class="more Js-brick-nav">
    					<a href="#" class="more-link">
    						查看全部
    						<i class="iconfont">&#xe6a9;</i>
    					</a>
    				</div>
    			</div>
    			<div class="main-box-body">
    				<ul class="video-list">
    					<li class="video-item">
    						<div class="pic">
    							<a href="#"><img src="img/xmad_1492588199164_Jykpx.jpg" alt=""></a>
    							<span class="play">
    								<i class="iconfont">&#xe606;</i>
    							</span>
    						</div>
    						<h3 class="title">
    							<a href="#">听雷总讲述小米7年工艺探索之路</a>
    						</h3>
    						<p class="desc">小米6，7年工艺探索的巅峰之作</p>
    					</li>
    					<li class="video-item"></li>
    					<li class="video-item"></li>
    					<li class="video-item"></li>
    				</ul>
    			</div>
    		</div><!-- video -->
    	</div><!-- container -->
    </div><!-- main -->





    <div class="footer"></div>
</body>
<script src='js/index/index.js'></script>
<script src='js/index/header.js'></script>
<script src='js/index/home.js'></script>
<script type="text/javascript" src='js/base.js'>
</script>

</html>

 
<!--header-nav-menu-tmpl -->
<script id="headerNavMenuTmpl" type="text/x-jsrender">
    {{if #index==0}}
        <li class="first">
        {{else}}
        <li>
    {{/if}}
    {{if flag}}
         <div class="flag">{{:flag}}</div>
         {{else}}
         <div class="flag no-border"></div>
    {{/if}}
         <div class="figure">
              <a href="#"><img src={{:imgsrc}} alt=""></a>
         </div>
         <div class="info">
             <a href="#">{{:name}}</a>
             <p class="price">{{:price}}</p>
         </div>
     </li>
</script>

<!-- header-nav-item-tmpl -->
<script id="headerNavItemTmpl" type="text/x-jsrender">
    <li class="nav-item">
        <a href="javascript: void(0);" class="link">
            <span class="text">{{:categoryName}}</span>
        </a>
    </li>
</script>
<!-- header-search-tmpl -->
<script id="headerSearchTmpl" type="text/x-jsrender">
   <input class="search-text" type="search">
                <input type="submit" class="search-btn iconfont" value="&#xe60b;">
                <div class="search-hotwords">
                    <a href="#">小米6</a><!-- 
                    --><a href="#">小米MIX现货</a>
                </div>
                <div class="search-keywordlist">
                    <ul class="result-list">
                        {{for keyWorlds}}
                            <li><a href="#">{{:name}}&nbsp;Plus<span class="result">约有{{:num}}件</span></a></li>
                        {{/for}}    
                    </ul>
                </div>
</script>

<!-- home-slider-tmpl -->

<script id="homeSliderTmpl" type="text/x-jsrender">
                <ul class="home-slider-list">
                    {{for homeslider}}
                        <li class="slider-list-item">
                            <a href="#" class="title">
                            {{:category}}<i class="iconfont">&#xe6a9;</i>
                            </a>
                            <ul class="list-goods list-goods-col-{{:colnum}}">
                                {{for goods}}
                                    <li class="star-goods">
                                        <a href="#" class="link">
                                            <img src={{:imgsrc}} alt="">
                                            <span class="text">{{:goodsname}}</span>
                                        </a>
                                        
                                        {{if buybtn}}
                                            <a href="#" class="star-goods-btn"> {{:buybtn}}</a>
                                        {{/if}}
                                    </li>
                                {{/for}}    
                            </ul>
                        </li>
                    {{/for}}
                </ul>
</script>