<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<title>index</title>
<link href="css/index.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/base.css">
<script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src='js/jsrender.js'></script>
</head>
<body>
    <div class="topbar">
            <div class="container">
                <div class="topbar-nav">
                    <a href="#">小米商城</a><span class="sep">|</span><a href="#">MIUI</a><span class="sep">|</span><a href="#">米聊</a><span class="sep">|</span><a href="#">游戏</a><span class="sep">|</span><a href="#">多看阅读</a><span class="sep">|</span><a href="#">云服务</a><span class="sep">|</span><a href="#">金融</a><span class="sep">|</span><a href="#">小米商城移动版</a><span class="sep">|</span><a href="#">问题反馈</a><span class="sep">|</span><a href="#">Select Region</a>
                </div>
                <div class="topbar-cart">
                    <a href="#" class="cart-mini">
                        <i class="iconfont">&#xe600;</i>
                        购物车<span>( 2 )</span>
                    </a>
                    <div class="cart-menu">
                        <!-- 没有东西时：
                        <div class="cart-tip">购物车中还没有商品,赶紧选购吧</div> -->
                        <ul class="items">
                            <li>
                                <div class="cart-item first">
                                    <a href="#">
                                        <img src='img/cart01.jpg'>
                                    </a>
                                    <a class="name" href="#">最生活浴巾·青春系列 蓝色</a>
                                    <span class="price">99元 x 1</span>
                                </div>
                            </li>
                            <li>
                                <div class="cart-item">
                                    <a href="#">
                                        <img src='img/cart02.jpg'>
                                    </a>
                                    <a class="name" href="#">8H护颈乳胶枕 雅米色</a>
                                    <span class="price">239元 x 1</span>
                                </div>
                            </li>
                        </ul>
                        <div class="cart-total fn-clear">
                            <span class="total">
                                共 <em>2</em> 件商品
                                <span class="price"><em>338.00</em>元</span>
                            </span>
                            <a class="btn-cart" href="#">去购物车结算</a>
                        </div>
                    </div>
                </div>
                <div class="userInfo">
                    <a href="#">登录</a><span class="sep">|</span><a href="#">注册</a><span class="sep">|</span><a href="#">消息通知</a>
                </div>
            </div>
        </div>



    <div class="header">
    	<div class="container">
			<div class="header-logo">
    			<img src="img/header-logo.png" alt="header-logo.png">
    		</div>
    		<div class="header-gif">
    			<img src="img/header-gif.gif" alt="header-gif.gif">
    		</div>
    		<div class="header-nav">
    			<ul class="nav-list">
    				<!-- 已填充 -->
    			</ul>
    		</div>
    		<div class="header-search">
    			<!-- 已填充 -->
    		</div><!-- header-search -->
    	</div><!-- container -->
    		<div class="header-nav-menu">
    			<div class="container">
    				<ul class="nav-menu-list">
    					<!-- 已填充 -->
    				</ul>
    			</div>
	    	</div><!-- header-nav-menu -->
    </div><!-- header -->

    <div class="home">
    	<div class="container">
    		<div class="home-slider">
    			<!-- 已填充 -->
    		</div><!-- home-slider -->
    		<div class="home-bigpic">
    			<div class="home-viewport">
    				<a href="" class="viewport-item first">
    					<img src="img/xmad_14924228925772_WRpTQ.jpg" alt="">
    				</a>
    				<a href="" class="viewport-item">
    					<img src="img/xmad_14939720155301_yPeul.jpg" alt="">
    				</a>
    				<a href="" class="viewport-item">
    					<img src="img/xmad_14939831114856_PVhxc.jpg" alt="">
    				</a>
    				<a href="" class="viewport-item">
    					<img src="img/xmad_14939802616997_OQLnC.jpg" alt="">
    				</a>
    				<a href="" class="viewport-item">
    					<img src="img/xmad_1493971718227_lzIhK.jpg" alt="">
    				</a>
    			</div>
    			<div class="home-controls">
    				<div class="controls-page">
    					<a href="javascript:void(0)" class="page-item active"></a>
    					<a href="javascript:void(0)" class="page-item"></a>
    					<a href="javascript:void(0)" class="page-item"></a>
    					<a href="javascript:void(0)" class="page-item"></a>
    					<a href="javascript:void(0)" class="page-item"></a>
    				</div>
    				<div class="controls-direction">
    					<a href="javascript:void(0)" class="prev"></a>
    					<a href="javascript:void(0)" class="next"></a>
    				</div>
    			</div>
    		</div>
    		<div class="home-center container">
    			<div class="home-center-listbox">
    				<ul class="center-list">
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe602;</i>
    							选购手机
    						</a>
    					</li>
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe62f;</i>
    							企业团购
    						</a>
    					</li>
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe61f;</i>
    							一元活动
    						</a>
    					</li>
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe603;</i>
    							小米移动
    						</a>
    					</li>
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe635;</i>
    							以旧换新
    						</a>
    					</li>
    					<li class="list-item">
    						<a href="#">
    							<i class="iconfont">&#xe61c;</i>
    							话费充值
    						</a>
    					</li>
    				</ul>
    			</div>
    			<div class="home-center-pic">
    				<a href="" class="center-pic-item"><img src="img/xmad_14932836551705_CdYMc.jpg" alt=""></a>
    				<a href="" class="center-pic-item"><img src="img/xmad_14896582916027_isKTx.jpg" alt=""></a>
    				<a href="" class="center-pic-item"><img src="img/b33e26fe-059f-4379-868a-78656675f6b3_2x.jpg" alt=""></a>
    			</div>
    		</div><!-- home-center -->
    		<div class="home-star">
    			<!-- 已填充 -->
    		</div><!-- home-star -->
    	</div><!-- container -->
    </div><!-- home -->

    


       <div class="main">
        <div class="container">
            <div id="smart" class="main-brick-box main-row-2-box">
            <!-- 已填充 -->
            </div><!-- smart -->
            <div id="match" class="main-brick-box main-row-2-box">
               <!-- 已填充 -->
            </div><!-- match -->
            <div id="parts" class="main-brick-box main-row-2-box">
            <!-- 已填充 -->
            </div><!-- parts -->
            <div id="around" class="main-brick-box main-row-2-box">
                <!-- 已填充 -->
            </div><!-- around -->
            <div id="recommend">
                <!-- 已填充 -->
            </div><!-- recommend -->
            <div id="comment">
                
            </div><!-- hotcomment -->
            <div id="content">
                
            </div><!-- content -->
            <div id="video">
            </div><!-- video -->
        </div><!-- container -->
    </div><!-- main -->





    <div class="footer">
            <div class="container">
                <div class="footer-service">
                    <ul class="list-service fn-clear">
                        <li><a href="#"><i class="iconfont">&#xe6c4;</i>预约维修服务</a></li>
                        <li><a href="#"><i class="iconfont">&#xe620;</i>7天无理由退货</a></li>
                        <li><a href="#"><i class="iconfont">&#xe606;</i>15天免费换货</a></li>
                        <li><a href="#"><i class="iconfont">&#xe669;</i>满150元包邮</a></li>
                        <li><a href="#"><i class="iconfont">&#xe66d;</i>520余家售后网点</a></li>
                    </ul>
                </div>
                <div class="footer-links fn-clear">
                    <dl class="col-links"><dt>帮助中心</dt>
                    <dd><a href="#">账户管理</a></dd>
                    <dd><a href="#">购物指南</a></dd>
                    <dd><a href="#">订单操作</a></dd></dl>
                    <dl class="col-links"><dt>服务中心</dt>
                    <dd><a href="#">售后政策</a></dd>
                    <dd><a href="#">自助服务</a></dd>
                    <dd><a href="#">相关下载</a></dd></dl>
                    <dl class="col-links"><dt>线下门店</dt>
                    <dd><a href="#">小米之家</a></dd>
                    <dd><a href="#">服务网点</a></dd>
                    <dd><a href="#">零售网点</a></dd></dl>
                    <dl class="col-links"><dt>关于小米</dt>
                    <dd><a href="#">了解小米</a></dd>
                    <dd><a href="#">加入小米</a></dd>
                    <dd><a href="#">联系我们</a></dd></dl>
                    <dl class="col-links"><dt>关注我们</dt>
                    <dd><a href="#">新浪微博</a></dd>
                    <dd><a href="#">小米部落</a></dd>
                    <dd><a href="#">官方维微信</a></dd></dl>
                    <dl class="col-links"><dt>特色服务</dt>
                    <dd><a href="#">F码通道</a></dd>
                    <dd><a href="#">礼物码</a></dd>
                    <dd><a href="#">防伪查询</a></dd></dl>
                    <div class="col-contact"><p class="phone">400-100-5678</p>
                    <p><span class="servicetime">周一至周日 8:00-18:00</span>
                <br>（仅收市话费）</p>
                <a href="#" class="btn"><i class="iconfont">&#xe619;</i> 24小时在线客服</a>
            </div>
        </div>
    </div>
</div>



<div class="end-info">
    <div class="container fn-clear">
        <div class="logo"></div>
        <div class="info-text">
            <p class="sites">
                <a href="#">小米商城</a><span class="sep">|</span><a href="#">MIUI</a><span class="sep">|</span><a href="#">米聊</a><span class="sep">|</span><a href="#">多看书城</a><span class="sep">|</span><a href="#">小米路由器</a><span class="sep">|</span><a href="#">视频电话</a><span class="sep">|</span><a href="#">小米天猫店</a><span class="sep">|</span><a href="#">小米淘宝直营店</a><span class="sep">|</span><a href="#">小米网盟</a><span class="sep">|</span><a href="#">小米移动</a><span class="sep">|</span><a href="#">隐私政策</a><span class="sep">|</span><a href="#">Select Region</a>
            </p>
            <p>©<a href="#">mi.com</a> 京ICP证110507号 <a href="#"> 京ICP备10046444号</a><a href="#"> 京公网安备11010802020134号 </a> <a href="#"> 京网文[2014]0059-0009号 </a><br> 违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
        </div>
        <div class="info-links">
            <a href="#"><img src="img/truste.png"></a>
            <a href="#"><img src="img/v-logo-2.png"></a>
            <a href="#"><img src="img/v-logo-1.png"></a>
            <a href="#"><img src="img/v-logo-3.png"></a>
        </div>
    </div>
    <div class="slogan"></div>
</div>





</body>
<script src='js/index/index.js'></script>
<script src='js/index/header.js'></script>
<script src='js/index/home.js'></script>
<script src='js/index/main.js'></script>
<script type="text/javascript" src='js/base.js'>
</script>

</html>

 
<!--header-nav-menu-tmpl -->
<script id="headerNavMenuTmpl" type="text/x-jsrender">
    {{if #index==0}}
        <li class="first">
        {{else}}
        <li>
    {{/if}}
    {{if flag}}
         <div class="flag">{{:flag}}</div>
         {{else}}
         <div class="flag no-border"></div>
    {{/if}}
         <div class="figure">
              <a href="#"><img src={{:imgsrc}} alt=""></a>
         </div>
         <div class="info">
             <a href="#">{{:name}}</a>
             <p class="price">{{:price}}</p>
         </div>
     </li>
</script>

<!-- header-nav-item-tmpl -->
<script id="headerNavItemTmpl" type="text/x-jsrender">
    <li class="nav-item">
        <a href="javascript: void(0);" class="link">
            <span class="text">{{:categoryName}}</span>
        </a>
    </li>
</script>
<!-- header-search-tmpl -->
<script id="headerSearchTmpl" type="text/x-jsrender">
   <input class="search-text" type="search">
                <input type="submit" class="search-btn iconfont" value="&#xe60b;">
                <div class="search-hotwords">
                    <a href="#">小米6</a><!-- 
                    --><a href="#">小米MIX现货</a>
                </div>
                <div class="search-keywordlist">
                    <ul class="result-list">
                        {{for keyWorlds}}
                            <li><a href="#">{{:name}}&nbsp;Plus<span class="result">约有{{:num}}件</span></a></li>
                        {{/for}}    
                    </ul>
                </div>
</script>

<!-- home-slider-tmpl -->

<script id="homeSliderTmpl" type="text/x-jsrender">
                <ul class="home-slider-list">
                    {{for homeslider}}
                        <li class="slider-list-item">
                            <a href="#" class="title">
                            {{:category}}<i class="iconfont">&#xe6a9;</i>
                            </a>
                            <ul class="list-goods list-goods-col-{{:colnum}}">
                                {{for goods}}
                                    <li class="star-goods">
                                        <a href="#" class="link">
                                            <img src={{:imgsrc}} alt="">
                                            <span class="text">{{:goodsname}}</span>
                                        </a>
                                        
                                        {{if buybtn}}
                                            <a href="#" class="star-goods-btn"> {{:buybtn}}</a>
                                        {{/if}}
                                    </li>
                                {{/for}}    
                            </ul>
                        </li>
                    {{/for}}
                </ul>
</script>

<!-- home-star-tmpl -->
<script id="homeStarTmpl" type="text/x-jsrender">
    <div class="home-star-title">
            <h2 class="title">小米明星单品</h2>
            <div class="more">
            <a href="javascript:void(0)" class="prev iconfont">&#xe6aa;</a>
            <a href="javascript:void(0)" class="next iconfont active">&#xe6a9;</a>
        </div>
    </div>
    <div class="home-star-listbox">
        <ul class="star-list">
            {{for homestar}}
                <li class="star-item-{{:#index+1}}">
                <a href="" class='star-item-pic'>
                    <img src={{:imgsrc}} alt="">
                </a>
                <h3 class="title">
                    <a href="#">{{:title}}</a>
                </h3>
                <p class="desc">{{:desc}}</p>
                <p class="price">{{:price}}</p>
                </li>
            {{/for}}
        </ul>
    </div>
</script>

<!-- main-smart-tmpl -->
<script id="mainSmartTmpl" type="text/x-jsrender">
    <div class="main-box-head">
        <h2 class="title">智能硬件</h2>
        <div class="more Js-brick-nav">
            <ul class="more-tab-list">
                <li class="active">热门</li>
                <li>家电</li>
                <li>路由器</li>
            </ul>
        </div>
    </div>
    <div class="main-box-body">
        <div class="main-body-static">
            <ul class="static-list">
                <li class="static-item static-item-l">
                <a href="#"><img src={{:staticimgsrc}} alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</script>

<script id="mainSmartChangeTmpl" type="text/x-jsrender">
    <div class="main-body-change">
        <ul class="change-list">
        {{for items}}
            {{if type=='m'}}
                <li class="change-item change-item-m-2">
                    <a href="" class='change-item-pic'>
                        <img src={{:imgsrc}} alt="">
                    </a>
                    <h3 class="title">
                        <a href="#">{{:title}}</a>
                    </h3>
                    <p class="desc">{{:desc}}</p>
                    <p class="price">{{:price}}</p>
                        {{if flag=='有赠品'}}
                        <div class="flag flag-gift">{{:flag}}</div>
                        {{else flag=='免邮费'}}
                        <div class="flag flag-postfree">{{:flag}}</div>
                        {{/if }}
                        <div class="review-wrapper">
                            <a href="#">
                                <span class="review">{{:review.cnt}}</span>
                                <span class="author">来自于 <span class="author-id">{{:review.authorid}}</span> 的评价</span>
                            </a>
                        </div>
                </li>
            {{/if}}

            {{if type=='smallitem'}}
                <li class="change-item change-item-s">
                    <a href="#" class="change-item-pic">
                        <img src={{:imgsrc}} alt="">
                    </a>
                    <h3 class="title">
                        <a href="#">{{:title}}</a>
                    </h3>
                    <p class="price">
                        <span class="price-num">{{:price}}</span>元
                    </p>
                </li>
            {{/if}}
            {{if type=="more"}}
                <li class="change-item change-item-s">
                <a href="#" class="change-item-picmore">
                <i class="iconfont">&#xe644;</i>
                </a>
                <a href="#" class="more">浏览更多
                <small>{{:title}}</small></a>
                </li>
            {{/if}}

        {{/for}}
        
        </ul>
    </div>
</script>

<!-- main-casual-tmpl -->
<script id="mainCasualTmpl" type="text/x-jsrender">
    <div class="main-box-head">
        <h2 class="title">{{:title}}</h2>
        <div class="more Js-brick-nav">
            <ul class="more-tab-list">
            {{for category}}
                {{if #index==0}}
                    <li class="active">{{:name}}</li>
                    {{else}}
                    <li>{{:name}}</li>
                {{/if}}
            {{/for}}
            </ul>
        </div>
    </div>
    <div class="main-box-body">
    <div class="main-body-static">
        <ul class="static-list">
            <li class="static-item static-item-m">
                <a href="#"><img src={{:statictopimgsrc}} alt=""></a>
            </li>
            <li class="static-item static-item-m">
                <a href="#"><img src={{:staticbtimgsrc}} alt=""></a>
            </li>
        </ul>
    </div>
</div>
</script>

<script id="mainCasualChangeTmpl" type="text/x-jsrender">
    <div class="main-body-change">
        <ul class="change-list">
        {{for items}}
            {{if type=='m'}}
                <li class="change-item change-item-m">
                <a href="#" class="change-item-pic">    
                <img src={{:imgsrc}} alt="">
                </a>
                <h3 class="title">
                <a href="#">{{:title}}</a>
                </h3>
                <p class="price">
                    <span class="price-num">{{:price}}</span>元
                </p>
                {{if people}}
                <p class="rank">
                    <span class="rank-num">{{:people}}</span>
                    人评价
                </p>
                {{/if}}
                {{if flag=='新品'}}
                <div class="flag flag-new">新品</div>
                {{else flag=='免邮费'}}
                <div class="flag flag-postfree">免邮费</div>
                {{else flag=='有赠品'}}
                <div class="flag flag-gift">有赠品</div>
                {{else flag==''}}
                <div></div>
                {{else}}
                <div class="flag flag-saleoff">{{:flag}}</div>
                {{/if}}

                {{if review}}
                <div class="review-wrapper">
                    <a href="#">
                        <span class="review">{{:review.cnt}}</span>
                        <span class="author">来自于<span class="author-id"> {{:review.authorid}} </span>的评价</span>
                    </a>
                </div>
                {{/if}}
            </li>
            {{/if}}

            {{if type=='smallitem'}}
                <li class="change-item change-item-s">
                    <a href="#" class="change-item-pic">
                        <img src={{:imgsrc}} alt="">
                    </a>
                    <h3 class="title">
                        <a href="#">{{:title}}</a>
                    </h3>
                    <p class="price">
                        <span class="price-num">{{:price}}</span>元
                    </p>
                </li>
            {{/if}}
            {{if type=="more"}}
                <li class="change-item change-item-s">
                <a href="#" class="change-item-picmore">
                <i class="iconfont">&#xe644;</i>
                </a>
                <a href="#" class="more">浏览更多
                <small>{{:title}}</small></a>
                </li>
            {{/if}}

        {{/for}}
        
           
        </ul>
    </div>
</script>

<!-- main-command-tmpl -->
<script id="mainCommandTmpl" type="text/x-jsrender">
    <div class="main-box-head">
                    <h2 class="title">为你推荐</h2>
                    <div class="more">
                        <a href="javascript:void(0)" class="prev iconfont ">&#xe6aa;</a>
                        <a href="javascript:void(0)" class="next iconfont active">&#xe6a9;</a>
                    </div>
                </div>
                <div class="main-box-body">
                    <div class="recommend-wrapper">
                        <ul class="recommend-list">
                        {{for items}}
                            <li class="recommend-item">
                                <dl>
                                    <dt>
                                        <a href="#">
                                            <img src={{:imgsrc}} alt="">
                                        </a>
                                    </dt>
                                    <dd class="recommend-name">
                                        <a href="#"> {{:name}} </a>
                                    </dd>
                                    <dd class="recommend-price">{{:price}}元</dd>
                                    {{if people}}
                                    <dd class="recommend-tips">   {{:people}}人好评    </dd>
                                    {{/if}}
                                    <dd class="recommend-notice"></dd>
                                </dl>
                            </li>
                        {{/for}}
                        </ul>
                    </div>
                </div>
</script>

<!-- main-comment-tmpl -->
<script id="mainCommentTmpl" type="text/x-jsrender">
    <div class="main-box-head">
        <div class="title">热评产品</div>
    </div>
    <div class="main-box-body">
    <ul class="review-list">
    {{for items}}
        <li class="review-item">
            <div class="pic">
                <a href="#"><img src={{:imgsrc}} alt=""></a>
            </div>
            <p class="review">
                <a href="#">{{:review.cnt}}</a>
            </p>
            <p class="author"> 来自于 {{:review.author}} 的评价 </p>
            <div class="info">
                <h3 class="title">
                <a href="#">{{:title}}</a>
                </h3>
                <span class="spe">|</span>
                <p class="price">
                    <span class="num">{{:price}}</span>元
                </p>
            </div>
        </li>
        {{/for}}
    </ul>
    </div>
</script>

<!-- main-content-tmpl -->

<script id="mainContentTmpl" type="text/x-jsrender">
    <div class="main-box-head">
        <h2 class="title">内容</h2>
    </div>
    <div class="main-box-body">
    <ul class="content-list">
        {{for items}}
            {{if category=="图书"}}
                <li class="content-item content-item-book">
                {{else category=='MIUI 主题'}}
                <li class="content-item content-item-theme">
                {{else category=='游戏'}}
                <li class="content-item content-item-game">
                {{else category=="应用"}}
                <li class="content-item content-item-app">
            {{/if}}
            <h2 class="title">{{:category}}</h2>
            <div class="carousel-wrapper">
                <ul class="item-list">
                {{for items}}
                    <li>
                        <h4 class="name">
                        <a href="#">{{:name}}</a>
                        </h4>
                        <p class="desc">
                            <a href="#">{{:desc}} </a>
                        </p>
                        <p class="price">
                            <a href="#">{{:price}}</a>
                        </p>
                        <div class="pic">
                            <a href="#"><img src={{:imgsrc}} alt=""></a>
                        </div>
                    </li>
                {{/for}}


                    <li class="more">
                        <p class="desc">
                            {{:final.top}}
                            <br>
                            {{:final.end}}
                        </p>



                        {{if category=="图书"}}
                        <a href="javascript:void(0)" class='btn btn-small btn-line-orange'>{{:final.detail}}</a>
                        {{else category=='MIUI 主题'}}
                        <a href="javascript:void(0)" class='btn btn-small btn-line-green'>{{:final.detail}}</a>
                        {{else category=='游戏'}}
                        <a href="javascript:void(0)" class='btn btn-small btn-line-red'>{{:final.detail}}</a>
                        {{else category=="应用"}}
                        <a href="javascript:void(0)" class='btn btn-small btn-line-ocean'>{{:final.detail}}</a>
                        {{/if}}



                        <img class="thumb" src={{:final.imgsrc}} alt="">
                    </li>
                </ul>
            </div>
            <div class="pagers-wrapper">
                <ul class="pagers">
                    <li class="pager pager-active">
                        <span class="dot">1</span>
                    </li>
                    <li class="pager">
                        <span class="dot">2</span>
                    </li>
                    <li class="pager">
                        <span class="dot">3</span>
                    </li>
                    <li class="pager">
                        <span class="dot">4</span>
                    </li>
                </ul>
            </div>
            <div class="controls controls-block-small">
                <a href="javascript:void(0)" class="control control-prev iconfont control-disabled">&#xe6aa;</a>
                <a href="javascript:void(0)" class="control control-next iconfont">&#xe6a9;</a>
            </div>
        </li>
        {{/for}}
    </ul>  
    </div>
</script>


<!-- main-video-tmpl -->
<script id="mainVideoTmpl" type="text/x-jsrender">
    <div class="main-box-head">
        <h2 class="title">视频</h2>
        <div class="more Js-brick-nav">
            <a href="#" class="more-link">
                查看全部
                <i class="iconfont">&#xe6a9;</i>
            </a>
        </div>
    </div>
    <div class="main-box-body">
        <ul class="video-list">
        {{for items}}
            <li class="video-item">
                <div class="pic">
                    <a href="#"><img src={{:imgsrc}} alt=""></a>
                    <span class="play">
                        <i class="iconfont">&#xe606;</i>
                    </span>
                </div>
                <h3 class="title">
                <a href="#">{{:title}}</a>
                </h3>
                <p class="desc">{{:desc}}</p>
            </li>
        {{/for}}
        </ul>
    </div>

</script>

                