<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>小米6 - 小米商城</title>
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link href="css/mi6/base.css" rel="stylesheet">
<link rel="stylesheet" href="css/mi6/index.css">
<link rel="stylesheet" href="css/mi6/mi6.css">
<script src='lib/jquery/jquery-3.2.1.min.js'></script>
<script type="text/javascript" src='js/jsrender.js'></script>
</head>
<body>
    <div class="topbar">
            <div class="container">
                <div class="topbar-nav">
                    <a href="#">小米商城</a><span class="sep">|</span><a href="#">MIUI</a><span class="sep">|</span><a href="#">米聊</a><span class="sep">|</span><a href="#">游戏</a><span class="sep">|</span><a href="#">多看阅读</a><span class="sep">|</span><a href="#">云服务</a><span class="sep">|</span><a href="#">金融</a><span class="sep">|</span><a href="#">小米商城移动版</a><span class="sep">|</span><a href="#">问题反馈</a><span class="sep">|</span><a href="#">Select Region</a>
                </div>
                <div class="topbar-cart">
                    <a href="#" class="cart-mini">
                        <i class="iconfont">&#xe600;</i>
                        购物车<span>( 2 )</span>
                    </a>
                    <div class="cart-menu">
                    </div>
                </div>
                <div class="user-info">
                    <a href="#">登录</a><span class="sep">|</span><a href="#">注册</a><span class="sep">|</span><a href="#">消息通知</a>
                </div>
            </div>
    </div>
    <div class="header">
    	<div class="container">
			<div class="header-logo">
    			<a href="index.html" class="logo ir"></a>
    		</div>
    		<div class="header-gif">
    			<div class="header-sidebar-leader">
    				<a href="javascript:void(0);" class='link'>
    					<span class='text'>全部商品分类</span>
    				</a>
    				
    			</div>
    		</div>
    		<div class="header-nav">
    			<ul class="nav-list">
    				<!-- 已填充 -->
    			</ul>
    		</div>
    		<div class="header-search">
    			<!-- 已填充 -->
    		</div><!-- header-search -->
    	</div><!-- container -->
    		<div class="header-nav-menu">
    			<div class="container">
    				<ul class="nav-menu-list">
    					<!-- 已填充 -->
    				</ul>
    			</div>
	    	</div><!-- header-nav-menu -->
    </div><!-- header -->
   	<div id="proHeader">
        <div class="xm-product-box">
        	<div class="nav-bar">
        		<div class="container">
        			<h2>小米6</h2>
        			<div class="con">
        				<div class="right">
        					<a href="javascript:void(0);" class='cur'>概述</a>
        					<span class="separator"> | </span>
        					<a href="//www.mi.com/mi6/camera/" >变焦双摄</a>
        					<span class="separator"> | </span><a href="//www.mi.com/mi6/design/" >设计</a>
        					<span class="separator"> | </span><a href="//www.mi.com/mi6/specs/" >参数</a>
        					<span class="separator"> | </span><a href="//order.mi.com/queue/f2code" >F码通道</a>
        					<span class="separator"> | </span><a href="//item.mi.com/comment/10000041.html" >用户评价</a>
        					<a href="//item.mi.com/product/10000041.html" class="btn btn-small btn-primary">立即购买</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <div class="xm-product-box nav-bar-hidden">
        	<div class="nav-bar">
        		<div class="container">
        			<h2>小米6</h2>
        			<div class="con">
        				<div class="right">
        					<a href="javascript:void(0);" class='cur'>概述</a>
        					<span class="separator"> | </span>
        					<a href="//www.mi.com/mi6/camera/" >变焦双摄</a>
        					<span class="separator"> | </span><a href="//www.mi.com/mi6/design/" >设计</a>
        					<span class="separator"> | </span><a href="//www.mi.com/mi6/specs/" >参数</a>
        					<span class="separator"> | </span><a href="//order.mi.com/queue/f2code" >F码通道</a>
        					<span class="separator"> | </span><a href="//item.mi.com/comment/10000041.html" >用户评价</a>
        					<a href="//item.mi.com/product/10000041.html" class="btn btn-small btn-primary">立即购买</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
	</div>
	<div class="home">
		<div class="container">
			<div class="home-slider"></div>
		</div>
	</div>
	<div class="mi6 mi6-index" id="J_mi6Index">
	    <div class="section section-top">
	        <div class="content">
	            <div class="context">
	                <h1 class="title webfont">小米 6<br />变焦双摄，拍人更美</h1>
	                <p class="item-des">骁龙835 旗舰处理器， 6GB 大内存&emsp;|&emsp; 5.15" 护眼屏&emsp;|&emsp;四曲面陶瓷 / 玻璃</p>
	            </div>
	        </div>
	    </div>
	    <div class="section section-design">
	        <div class="content">
	            <div class="context">
	                <h2 class="webfont title">七年工艺探索的梦幻之作</h2>
	                <p class="item-des subtitle">就像每一代小米旗舰的发布，小米6 依然是新一代性能怪兽，率先搭载骁龙835 旗舰处理器，6GB 大内存。<br />首次在 5.15" 小米手机上，配备了光学变焦双摄相机，带来更美的人像效果。而在工艺上，四曲面玻璃与陶瓷两种材质<br />的流光溢彩，与不锈钢高亮的金属光泽交相辉映。小米6，就是我们 7 年工艺探索的梦幻之作。</p>
	                <a class="watch-video J_play" href="javascript:;" data-video="../video/leijun.mp4"><span class="icon-play"></span>《听雷军讲述小米 7 年工艺探索》视频</a>
	            </div>
	        </div>
	    </div>
	    <div class="section section-smooth">
	        <div class="wrap">
	            <div class="content">
	                <div class="context">
	                    <h2 class="webfont title">流光溢彩 温润如玉</h2>
	                    <p class="item-des subtitle">梦幻般的四曲面玻璃机身与不锈钢高亮边框设计</p>
	                    <a class="btn-play J_play" href="javascript:;" data-video="../video/mountain.mp4"></a>
	                </div>
	            </div>
	            <div class="video-con">
	                <video class="video" preload="none" loop="loop">
	                    <source src="video/colorful.mp4" type="video/mp4">
	                </video>
	            </div>
	        </div>
	        <div class="show-next J_showNext01 J_showNexts">
	            <p class="show-tips">查看更多细节</p>
	            <div class="btn-con">
	                <a class="btn-show J_btnShowMore" href="javascript:;" data-id="1"></a>
	            </div>
	        </div>
	    </div>
	    <div class="fragment-detail fragment-smooth J_fragment01">
	        <div class="fragment-smooth-sec01 fragment" data-offset="100">
	            <div class="content">
	                <div class="context">
	                    <h4 class="webfont title">四曲面玻璃机身与不锈钢边框，钟表般的精湛工艺</h4>
	                    <p class="item-des">小米6 的美，来自于我们对精湛工艺不断的探索。梦幻般的四曲面玻璃机身，不锈钢高亮边框，不仅带来了流光溢彩的视觉体验，<br />更带来了整机无一丝棱线的绝佳手感。当光线照亮整个机身，浑然一体宛如珠圆玉润的宝石，璀璨生辉。</p>
	                </div>
	            </div>
	        </div>
	        <div class="fragment-smooth-sec02 fragment">
	            <div class="content">
	                <div class="context">
	                    <h4 class="webfont title">小米6 亮银探索版<br />在探索的路上，永不止步</h4>
	                    <p class="item-des">除了亮蓝、亮白、亮黑，三种颜色外，特别带来亮银工艺探索版</p>
	                </div>
	                <div class="pic smooth-sec02-pic01"></div>
	                <div class="pic smooth-sec02-pic02"></div>
	            </div>
	        </div>
	    </div>
	    <div class="section section-camera">
	        <div class="content">
	            <div class="context">
	                <h2 class="webfont title">变焦双摄, 拍人更美</h2>
	                <p class="item-des subtitle">2 倍光学无损变焦双摄，单反般背景虚化效果<br />还有独特的 4 轴光学防抖，弱光环境下也能拍出好照片</p>
	                <ul class="features-list clearfix">
	                    <li>
	                        <em class="webfontit">2倍</em>
	                        <span>ZOOM 光学变焦</span>
	                    </li>
	                    <li>
	                        <em class="webfontit">4轴</em>
	                        <span>OIS 光学防抖</span>
	                    </li>
	                    <li>
	                        <em class="webfontit">12MP</em>
	                        <span>广角 / 长焦摄像头</span>
	                    </li>
	                </ul>
	                <a href="#" class="link">了解变焦双摄相机 &gt;</a>
	            </div>
	        </div>
	    </div>
	    <div class="section section-photos">
	        <div class="content">
	            <div class="silder-wrap">
	                <div class="slider ui-wrapper01">
	                    <ul class="photospic-list J_photospic clearfix">
	                        <li><img src="img/photos-group01_1.jpg" /></li>
	                        <li><img src="img/photos-group02_1.jpg" /></li>
	                        <li><img src="img/photos-group03_1.jpg" /></li>
	                        <li><img src="img/photos-group04_1.jpg" /></li>
	                        <li><img src="img/photos-group05_1.jpg" /></li>
	                        <li><img src="img/photos-group06_1.jpg" /></li>
	                        <li><img src="img/photos-group07_1.jpg" /></li>
	                    </ul>
	                </div>
	                <div class="photospic-btns ui-controls-direction J_vBtns">
	                    <a class="ui-prev v-btn v-prev" href="javascript:void(0);" data-type="prev">上一张</a>
	                    <a class="ui-next v-btn v-next " href="javascript:void(0);" data-type="next">下一张</a>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="section section-perfor">
	        <div class="content">
	            <div class="context">
	                <h2 class="webfont title">骁龙835 + 6GB 大内存<br />新一代性能怪兽</h2>
	                <p class="item-des subtitle">率先搭载骁龙835 旗舰处理器，全球首款 10nm 商用芯片</p>
	                <div class="features">
	                    <em class="webfontit">Adreno540</em>
	                    <span>游戏机级图形处理器</span>
	                </div>
	                <ul class="features-list clearfix">
	                    <li>
	                        <em class="webfontit">6GB</em>
	                        <span>超大内存</span>
	                    </li>
	                    <li>
	                        <em class="webfontit">128GB</em>
	                        <span>最高可选存储</span>
	                    </li>
	                </ul>
	            </div>
	        </div>
	        <div class="show-next J_showNext02 J_showNexts">
	            <p class="show-tips">探索黑科技</p>
	            <div class="btn-con">
	                <a class="btn-show J_btnShowMore" href="javascript:;" data-id="2"></a>
	            </div>
	        </div>
	    </div>
	    <div class="fragment-detail fragment-perfor J_fragment02">
	        <div class="fragment-perfor-sec01 fragment J_fragmentPerfor">
	            <div class="container">
	                <div class="context">
	                    <h4 class="webfont title">高通骁龙835 旗舰处理器<br />再次刷新快的纪录</h4>

	                    <p class="item-des">
	                        全球第一颗 10 nm 商用芯片，在比一角硬币还小的面积<br />上，搭载超过 30 亿个晶体管。较上一代尺寸减小 35%，<br />功耗降低 25%，更有超乎想象的性能提升，这意味着，<br />现在你可以更高效地使用小米6 做更多的事情。
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="fragment-perfor-sec02 fragment">
	            <div class="content">
	                <div class="context">
	                    <h4 class="webfont title">Adreno540 图形处理器<br />游戏机级的渲染品质</h4>
	                    <p class="item-des">用全新的小米6 玩游戏，你会惊喜地发现，它不仅能轻松胜任所有 3D 游戏，更能流畅运行一般手机玩不转的 60fps 高帧率大型<br />3D 游戏。新一代 Adreno540 图形处理器，整体性能提升 25%，同时支持先进的游戏机级 3D 图形渲染技术。如此一来，漂亮<br />的极速漂移，战斗时超酷的特技，震撼的爆炸效果，都能得到淋漓尽致的展现。</p>
	                </div>
	            </div>
	            <div class="wrap">
	                <div class="video-con">
	                    <video class="video" preload="none" loop="loop">
	                        <source src="video/game.mp4">
	                    </video>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="section section-screen">
	        <div class="wrap">
	            <div class="content">
	                <div class="context">
	                    <h2 class="webfont title">5.15"护眼屏</h2>
	                    <p class="item-des subtitle">降低蓝光辐射<br />国家眼科诊断与治疗工程技术研究中心权威认证</p>
	                    <ul class="features-list clearfix">
	                        <li>
	                            <em class="webfontit"><i>600</i>nit</em>
	                            <span>高亮度</span>
	                        </li>
	                        <li>
	                            <em class="webfontit"><i>1</i>nit</em>
	                            <span>超暗夜光屏</span>
	                        </li>
	                        <li>
	                            <em class="webfontit"><i>94.4</i>%</em>
	                            <span>NTSC高色彩饱和度</span>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <div class="show-next J_showNext03 J_showNexts">
	            <p class="show-tips">屏幕背后的科技</p>
	            <div class="btn-con">
	                <a class="btn-show J_btnShowMore" href="javascript:;" data-id="3"></a>
	            </div>
	        </div>
	    </div>
	    <div class="fragment-detail fragment-screen J_fragment03">
	        <div class="fragment-screen-sec01 fragment">
	            <div class="content">
	                <h4 class="webfont title">降低蓝光辐射，护眼模式色彩更真实</h4>
	                <p class="item-des">小米6 全新升级的护眼模式，拥有国家眼科诊断与治疗工程技术研究中心权威认证，有效降低蓝光辐射。再进一步优化护眼模式的屏幕偏色问<br />题，令色彩更加准确、自然。可根据使用习惯自定义开启时间。保护眼睛，不仅更科学，还能享受栩栩如生的好画质。</p>
	                <div class="screen-sec01-pic screen-pic"></div>
	            </div>
	        </div>
	        <div class="fragment-screen-sec02 fragment">
	            <div class="content">
	                <h4 class="webfont title">专为夜晚优化，1nit 超暗夜光屏</h4>
	                <p class="item-des">越来越多的人喜欢在睡前阅读或看视频，但屏幕即使调暗仍觉得刺眼。小米6 为更好地进行夜间护眼，突破性地将屏幕最低亮度调节至 1nit ，<br />相当于一只萤火虫发出的微光。让你在睡前可以安心、舒适地多看一会，再多看一会。</p>
	                <div class="screen-sec02-pic screen-pic"></div>
	            </div>
	        </div>
	        <div class="fragment-screen-sec03 fragment J_fragmentScreen">
	            <div class="content">
	                <h4 class="webfont title">4096级智能亮度调节技术，亮度变化如丝般顺滑</h4>
	                <p class="item-des">新一代的智能亮度调节技术，可以达到每级 0.15nit 亮度调节。如此细腻的屏幕变化，这意味着，现在与你形影不离的小米6 ，<br />可以根据环境光线复杂的变化，始终显示出比以往更舒适、精准匹配的亮度。</p>
	                <ul class="pic-list">
	                    <li class="screen-sec03-pic01 J_screenPic"></li>
	                    <li class="screen-sec03-pic02 J_screenPic"></li>
	                </ul>
	                <ul class="dot-list">
	                    <li class="dot J_dot"></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	    <div class="section section-experience">
	        <div class="content">
	           <div class="context">
	                <h2 class="webfont">从性能到体验<br />更快人一步</h2>
	                <p class="item-des subtitle">更快的网络连接速度、更持久<br />的续航能力、支持微信 / 支付宝指纹支付</p>
	                <ul class="features-list clearfix">
	                    <li class="item01">
	                        <em class="webfontit"><i>2x2</i> 双路WiFi</em>
	                        <span>信号覆盖范围更大</span>
	                    </li>
	                    <li class="item02">
	                        <em class="webfontit"><i>3350</i> mAh</em>
	                        <span>一整天充沛电量</span>
	                    </li>
	                    <li class="item03">
	                        <em class="webfontit"><i>NFC</i></em>
	                        <span>是公交卡，也是银行卡</span>
	                    </li>
	                    <li class="item04">
	                        <em class="webfontit"><i>指纹支付</i></em>
	                        <span>支持微信 / 支付宝</span>
	                    </li>
	                </ul>
	           </div>
	        </div>
	        <div class="show-next J_showNext04 J_showNexts">
	            <p class="show-tips">获得更多体验</p>
	            <div class="btn-con">
	                <a class="btn-show J_btnShowMore" href="javascript:;" data-id="4"></a>
	            </div>
	        </div>
	    </div>
	    <div class="fragment-detail fragment-experience J_fragment04">
	        <div class="fragment-experience-sec01 fragment">
	            <div class="content">
	                <div class="context">
	                    <h4 class="webfont title">率先支持新一代 2 x 2 双路 WiFi 技术<br />信号覆盖范围更大</h4>
	                    <p class="item-des">为什么换了高性能路由器， 家中的 WiFi 信号仍然不稳定？全新的小米6 率先支持新一代 2 x 2 双路 WiFi 技术，<br />让手机接收 WiFi 信号的覆盖范围更大，扫平以往家中 WiFi 信号死角，更带来 100% 的速度提升。</p>
	                    <a href="javascript:;" class="experience-video J_play" data-video="../video/fast-wifi.mp4"><span class="icon-play-small"></span>观看《更快的 WiFi 测试》</a>
	                </div>
	                <div class="experience-sec01-pic experience-pic"></div>
	            </div>
	        </div>
	        <div class="fragment-experience-sec02 fragment">
	            <div class="content">
	                <div class="context">
	                    <h4 class="webfont title">芯片级功耗优化，带来一整天充沛电量</h4>
	                    <p class="item-des">惊人的续航表现，源于骁龙835 处理器先进的 10nm 工艺制程 ，功耗降低 25% 。配合芯片级的多重低功耗技术，与 MIUI8 系统<br />级省电环环相扣，带来了惊人的续航表现。让小米6 的 3350mAh 大电池，一口气玩上数个小时的游戏，也不在话下。</p>
	                    <a href="javascript:;" class="experience-video J_play" data-video="../video/big-power.mp4"><span class="icon-play-small"></span>观看《大电量续航测试》</a>
	                </div>
	                <div class="experience-sec02-pic experience-pic"></div>
	            </div>
	        </div>
	        <div class="fragment-experience-sec03 fragment">
	            <div class="content">
	                <div class="context">
	                    <h4 class="webfont title">多功能 NFC，是银行卡也是公交卡</h4>
	                    <p class="item-des">采用新一代 NFC 芯片，全新的结构设计，相比上一代通信能力提升 50%，交易速度提升 30%。<br />使用小米6 银行卡、公交卡时，不仅读取速度更快，刷卡付款也更快。支持多达 36 个银行及不断扩展的新城市公共交通，<br />今后，无论去哪里购物、坐地铁、公交，带上你的小米6 就可以通通搞定。</p>
	                </div>
	                 <div class="experience-sec03-pic experience-pic"></div>
	            </div>
	        </div>
	        <div class="fragment-experience-sec04 fragment">
	            <div class="content">
	                <div class="context">
	                    <h4 class="webfont title">支持微信、支付宝指纹支付</h4>
	                    <p class="item-des">小米6 同时支持微信、支付宝、小米钱包指纹支付功能，从此支付、转账、红包、购物、提现，用小米6 动动手指即可实现“秒付”。</p>
	                </div>
	                <div class="experience-sec04-pic experience-pic"></div>
	            </div>
	        </div>
	    </div>
	    <div class="section section-waterproof">
	        <div class="content">
	            <div class="context">
	                <h2 class="webfont title">生活防泼溅</h2>
	                <p class="item-des">每个开孔都进行了独立的密封设计</p>
	                <a class="btn-play J_play" href="javascript:;" data-video="../video/stop-water-in.mp4"></a>
	            </div>
	        </div>
	        <div class="video-con">
	            <video class="video" preload="none" loop="loop">
	                <source src="video/stop-water-out.mp4">
	            </video>
	        </div>
	        <div class="mask"></div>
	    </div>
	    <div class="section section-look">
	        <div class="content">
	            <div class="context">
	                <h3 class="webfont title">小米6 <em class="type">陶瓷尊享版</em></h3>
	                <h2 class="webfont title">如艺术品般精致璀璨</h2>
	                <p class="item-des subtitle">“明如镜、颜如玉” 的首款四曲面陶瓷机身，科技与艺术浑然天成</p>
	                <ul class="features-list clearfix">
	                    <li>
	                        <em class="webfontit"><i>四曲面陶瓷</i></em>
	                        <span>尊享版机身</span>
	                    </li>
	                    <li>
	                        <em class="webfontit"><i>18K镀金</i></em>
	                        <span>相机装饰环</span>
	                    </li>
	                    <li>
	                        <em class="webfontit"><i>6GB+128GB</i></em>
	                        <span>存储空间</span>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	    <div class="section section-kinds J_kindsChoice">
	        <div class="content">
	            <div class="context">
	                <h2 class="webfont title">小米手机6<br />变焦双摄，拍人更美</h2>
	                <ul class="kind-list">
	                    <li class="item01 item-pic J_itemPic"></li>
	                    <li class="item02 item-pic J_itemPic"></li>
	                    <li class="item03 item-pic J_itemPic"></li>
	                    <li class="item04 item-pic J_itemPic"></li>
	                </ul>
	                <ul class="dot-list clearfix">
	                    <li class="dot dot01 J_dotItem active"></li>
	                    <li class="dot dot02 J_dotItem"></li>
	                    <li class="dot dot03 J_dotItem"></li>
	                    <li class="dot dot04 J_dotItem"></li>
	                </ul>
	                <ul class="text-list">
	                    <li class="text J_textItem">亮黑</li>
	                    <li class="text J_textItem">亮蓝</li>
	                    <li class="text J_textItem">亮白</li>
	                    <li class="text J_textItem">陶瓷黑</li>
	                </ul>
	            </div>
	        </div>
	    </div>
	    <div class="section section-footer">
	        <a class="link" href="/mi6/camera/">
	            <div class="content">
	                <div class="context">
	                    <h3 class="webfont title">“美，就是我的眼中只有你”</h3>
	                    <p class="item-des">进一步了解小米6 变焦双摄  &gt;</p>
	                </div>
	            </div>
	        </a>
	        <div class="video-con">
	            <video class="video" preload="none" loop="loop">
	                <source src="video/video-footer.mp4" type="video/mp4">
	                <source src="video/video-footer.webm" type="video/webm">
	            </video>
	        </div>
	    </div>
	    <div class="section-footer-common-erweima">
			<div class="container">
				<div class="common-erweima-content clearfix">
					<div class="common-erweima-pic"><img src="img/miphone-erweima.png" /></div>
					<div class="common-erweima-context">
						<div class="tips">扫码关注【<span>小米手机</span>】公众号</div>
						<div>了解更多产品信息、新品资讯，还可领取新人红包！</div>
					</div>
				</div>
			</div>
		</div>
	<div class="modal video-modal fade modal-hide" id="J_videoModal">
		<div class="blur close" data-dismiss='modal'></div>
	    <span class="close"  data-dismiss="modal"> X </span>
	    <div class="modal-bd"></div> 
	</div>
   	    <div class="footer">
            <div class="container">
                <div class="footer-service">
                    <ul class="list-service fn-clear">
                        <li><a href="#"><i class="iconfont">&#xe6c4;</i>预约维修服务</a></li>
                        <li><a href="#"><i class="iconfont">&#xe620;</i>7天无理由退货</a></li>
                        <li><a href="#"><i class="iconfont">&#xe605;</i>15天免费换货</a></li>
                        <li><a href="#"><i class="iconfont">&#xe669;</i>满150元包邮</a></li>
                        <li><a href="#"><i class="iconfont">&#xe66d;</i>520余家售后网点</a></li>
                    </ul>
                </div>
                <div class="footer-links fn-clear">
                    <dl class="col-links"><dt>帮助中心</dt>
                    <dd><a href="#">账户管理</a></dd>
                    <dd><a href="#">购物指南</a></dd>
                    <dd><a href="#">订单操作</a></dd></dl>
                    <dl class="col-links"><dt>服务支持</dt>
                    <dd><a href="#">售后政策</a></dd>
                    <dd><a href="#">自助服务</a></dd>
                    <dd><a href="#">相关下载</a></dd></dl>
                    <dl class="col-links"><dt>线下门店</dt>
                    <dd><a href="#">小米之家</a></dd>
                    <dd><a href="#">服务网点</a></dd>
                    <dd><a href="#">零售网点</a></dd></dl>
                    <dl class="col-links"><dt>关于小米</dt>
                    <dd><a href="#">了解小米</a></dd>
                    <dd><a href="#">加入小米</a></dd>
                    <dd><a href="#">联系我们</a></dd></dl>
                    <dl class="col-links"><dt>关注我们</dt>
                    <dd><a href="#">新浪微博</a></dd>
                    <dd><a href="#">小米部落</a></dd>
                    <dd><a href="#">官方维微信</a></dd></dl>
                    <dl class="col-links"><dt>特色服务</dt>
                    <dd><a href="#">F码通道</a></dd>
                    <dd><a href="#">礼物码</a></dd>
                    <dd><a href="#">防伪查询</a></dd></dl>
                    <div class="col-contact"><p class="phone">400-100-5678</p>
                    <p><span class="servicetime">周一至周日 8:00-18:00</span>
                    <br>（仅收市话费）</p>
                    <a href="#" class="btn"><i class="iconfont">&#xe619;</i> 24小时在线客服</a>
                    </div>
                </div>
            </div>
    </div>
<div class="end-info">
    <div class="container fn-clear">
        <div class="logo"></div>
        <div class="info-text">
            <p class="sites">
                <a href="#">小米商城</a><span class="sep">|</span><a href="#">MIUI</a><span class="sep">|</span><a href="#">米聊</a><span class="sep">|</span><a href="#">多看书城</a><span class="sep">|</span><a href="#">小米路由器</a><span class="sep">|</span><a href="#">视频电话</a><span class="sep">|</span><a href="#">小米天猫店</a><span class="sep">|</span><a href="#">小米淘宝直营店</a><span class="sep">|</span><a href="#">小米网盟</a><span class="sep">|</span><a href="#">小米移动</a><span class="sep">|</span><a href="#">隐私政策</a><span class="sep">|</span><a href="#">Select Region</a>
            </p>
            <p>©<a href="#">mi.com</a> 京ICP证110507号 <a href="#"> 京ICP备10046444号</a><a href="#"> 京公网安备11010802020134号 </a> <a href="#"> 京网文[2014]0059-0009号 </a><br> 违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
        </div>
        <div class="info-links">
            <a href="#"><img src="img/truste.png"></a>
            <a href="#"><img src="img/v-logo-2.png"></a>
            <a href="#"><img src="img/v-logo-1.png"></a>
            <a href="#"><img src="img/v-logo-3.png"></a>
        </div>
    </div>
    <div class="slogan"></div>
</div>

</body>
</html>


<script src='lib/bootstrap-3.3.7-dist/js/bootstrap.js'></script>
<script src='js/mi6/header.js'></script>
<script src='js/mi6/mi6.js'></script>
<script type="text/javascript" src='js/base.js'>
</script>

<!-- header-cart-menu-tmpl -->
<script id="headerCartMenuTmpl" type="text/x-jsrender">
    <!-- 没有东西时： -->
    <div class="cart-tip">购物车中还没有商品,赶紧选购吧</div>
    <ul class="items">
    </ul>
    <div class="cart-total fn-clear">
        <span class="total">
            共 <em>2</em> 件商品
            <span class="price"><em>338.00</em>元</span>
        </span>
        <a class="btn-cart" href="#">去购物车结算</a>
    </div>
</script>

<!-- header-cart-item-tmpl -->
<script id="headerCartItemTmpl" type="text/x-jsrender">
    <li>
        <div class="cart-item">
            <a href="#">
                <img src={{:imgsrc}} width='60px' height='60px'>
            </a>
            <a class="name" href="#">{{:name}}</a>
            <span class="price">{{:price}}元 x {{:num}}</span>
        </div>
    </li>
</script>


<!-- header-userinfo-tmpl -->
<script id="headerUserInfoTmpl" type="text/x-jsrender">
    <span class="user">
        <!--跳转到个人中心 -->
        <a class="user-name" href="#" target="_blank">
            <span class="name"></span>
            <i class="iconfont">&#xe607;</i>
        </a>
        <ul class="menu">
            <li><a  href="#" target="_blank">个人中心</a></li>
            <li><a  href="#" target="_blank">评价晒单</a></li>
            <li><a  href="#" target="_blank">我的喜欢</a></li>
            <li><a  href="#" target="_blank">小米账户</a></li>
            <li><a  href="javascript:void(0)" target="_blank">退出登录</a></li>
        </ul>
    </span>
</script>

<!--header-nav-menu-tmpl -->
<script id="headerNavMenuTmpl" type="text/x-jsrender">
    {{if #index==0}}
        <li class="first">
        {{else}}
        <li>
    {{/if}}
    {{if flag}}
         <div class="flag">{{:flag}}</div>
         {{else}}
         <div class="flag no-border"></div>
    {{/if}}
         <div class="figure">
              <a href="#"><img src={{:imgsrc}} alt=""></a>
         </div>
         <div class="info">
             <a href="#">{{:name}}</a>
             <p class="price">{{:price}}</p>
         </div>
     </li>
</script>

<!-- header-nav-item-tmpl -->
<script id="headerNavItemTmpl" type="text/x-jsrender">
    <li class="nav-item">
        <a href="javascript: void(0);" class="link">
            <span class="text">{{:categoryName}}</span>
        </a>
    </li>
</script>
<!-- header-search-tmpl -->
<script id="headerSearchTmpl" type="text/x-jsrender">
   <input class="search-text" type="search">
                <input type="submit" class="search-btn iconfont" value="&#xe60b;">
                <div class="search-hotwords">
                    <a href="#">小米6</a><!-- 
                    --><a href="#">小米MIX现货</a>
                </div>
                <div class="search-keywordlist">
                    <ul class="result-list">
                        {{for keyWorlds}}
                            <li><a href="#">{{:name}}&nbsp;Plus<span class="result">约有{{:num}}件</span></a></li>
                        {{/for}}    
                    </ul>
                </div>
</script>
<!-- home-slider-tmpl -->

<script id="homeSliderTmpl" type="text/x-jsrender">
                <ul class="home-slider-list">
                    {{for homeslider}}
                        <li class="slider-list-item">
                            <a href="#" class="title">
                            {{:category}}<i class="iconfont">&#xe6a9;</i>
                            </a>
                            <ul class="list-goods list-goods-col-{{:colnum}}">
                                {{for goods}}
                                    <li class="star-goods">
                                        {{if buybtn}}
                                        <a href="#" class="link">
                                        {{else}}
                                        <a href="#" class="link link-max">
                                        {{/if}}
                                            <img src={{:imgsrc}} alt="">
                                            <span class="text">{{:goodsname}}</span>
                                        </a>
                                        
                                        {{if buybtn}}
                                            <a href="#" class="star-goods-btn"> {{:buybtn}}</a>
                                        {{/if}}
                                    </li>
                                {{/for}}    
                            </ul>
                        </li>
                    {{/for}}
                </ul>
</script>