<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>【小米4c 智能唤醒翻盖保护套 黑色】 保护套/保护壳-小米商城</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="icon" type="image/x-icon" href="../img/goods/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/base.css">
        <link href="../css/goods.css" rel="stylesheet">
    </head>
    <body>
        <div class="topbar">
            <div class="container">
                <div class="topbar-nav">
                    <a href="#">小米商城</a><span class="sep">|</span><a href="#">MIUI</a><span class="sep">|</span><a href="#">米聊</a><span class="sep">|</span><a href="#">游戏</a><span class="sep">|</span><a href="#">多看阅读</a><span class="sep">|</span><a href="#">云服务</a><span class="sep">|</span><a href="#">金融</a><span class="sep">|</span><a href="#">小米商城移动版</a><span class="sep">|</span><a href="#">问题反馈</a><span class="sep">|</span><a href="#">Select Region</a>
                </div>
                <div class="topbar-cart">
                    <a href="#" class="cart-mini">
                        <i class="iconfont">&#xe601;</i>
                        购物车<span>( 2 )</span>
                    </a>
                    <div class="cart-menu">
                    </div>
                </div>
                <div class="user-info">
                    <a href="#">登录</a><span class="sep">|</span><a href="#">注册</a><span class="sep">|</span><a href="#">消息通知</a>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="header-logo">
                    <a href="../index.html" class="logo ir"></a>
                </div>
                <div class="header-gif">
                    <div class="header-sidebar-leader">
                        <a href="javascript:void(0);" class='link'>
                            <span class='text'>全部商品分类</span>
                        </a>
                        
                    </div>
                </div>
                <div class="header-nav">
                    <ul class="nav-list">
                        <!-- 已填充 -->
                    </ul>
                </div>
                <div class="header-search">
                    <!-- 已填充 -->
                </div><!-- header-search -->
            </div><!-- container -->
            <div class="header-nav-menu">
                <div class="container">
                    <ul class="nav-menu-list">
                        <!-- 已填充 -->
                    </ul>
                </div>
            </div><!-- header-nav-menu -->
        </div><!-- header -->



        <div class="home">
            <div class="container">
                <div class="home-slider"></div>
            </div>
        </div>




        <div class="site-breadcrumbs">
            <div class="container">
                <span class="level">首页</span>
                <span class="sep">/</span>
                <span class="level">配件</span>
                <span class="sep">/</span>
                <span class="level">保护套/保护壳</span>
                <span class="sep">/</span>
                <span class="level">小米4c 智能唤醒翻盖保护套 黑色</span>
            </div>
        </div>
        <div class="goods-detail">
            <div class="goods-detail-info">
                <div class="container">
                    <div class="row">
                        <div class="goods-detail-leftinfo">
                            <div class="goods-pic-box">
                                <div class="goods-bigpic">
                                    <img src="../img/goods/T1XybgBjhT1RXrhCrK!482x482.jpg" alt="">
                                </div>
                                <div class="goods-smallpic">
                                    <ul class="goodspiclist">
                                        <li class="current">
                                            <img src="../img/goods/T1XybgBjhT1RXrhCrK!60x60.jpg" alt="">
                                        </li>
                                        <li class>
                                            <img src="../img/goods/T1v3hvBCZv1RXrhCrK!60x60.jpg" alt="">
                                        </li>
                                        <li class>
                                            <img src="../img/goods/T1dQh_BgAT1RXrhCrK!60x60.jpg" alt="">
                                        </li>
                                        <li class>
                                            <img src="../img/goods/T1pjL_BjWT1RXrhCrK!60x60.jpg" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="goods-detail-rightinfo">
                            <dl class="goods-info-box">
                                <dt class="goods-info-head">
                                <dl class="goods-info-list">
                                    <dd class="goods-name">小米4c 智能唤醒翻盖保护套</dd>
                                    <dd class="goods-subtitle">细腻触感 / 翻开自动唤醒屏幕</dd>
                                    <dd class="goods-phone-type">适用于 小米手机4c</dd>
                                    <dd class="goods-info-head-tip">
                                    <ul>
                                        <li class="others">
                                            <i>折扣</i>
                                        </li>
                                    </ul></dd>
                                    <dd class="goods-info-address">
                                    <div class="user-defalut-address">
                                        <div class="product-status">有货</div>
                                        <div class="address-info">
                                            <span class="item">北京</span>
                                            <span class="item">北京市</span>
                                            <span class="item">东城区</span>
                                        </div>
                                        <i class="iconfont">&#xe718;</i>
                                    </div>
                                    </dd>
                                    <dd class="goods-info-price">
                                    <b>29</b>
                                    <i>&nbsp;元</i>
                                    <del>
                                    <span>49元</span>
                                    </del>
                                    </dd>
                                    <dd class="goods-info-colors">
                                    <span>颜色：黑色</span>
                                    <div class="clearfix">
                                        <div class="colorli">
                                            <a class="current" title="黑色">
                                                <img src="../img/goods/T1XybgBjhT1RXrhCrK!38x38.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    </dd>
                                    <dd class="goods-info-cart">
                                    <a class="goods-addcart">
                                        <i class="iconfont">&#x1001;</i>
                                        加入购物车
                                    </a>
                                    <a class="goods-like">
                                        <i class="iconfont">&#xed26;</i>
                                        <i class="iconfont liked">&#xe61d;</i>
                                        <i class="iconfont liked">&#xe61d;</i>
                                        喜欢
                                    </a>
                                    </dd>
                                    <dd class="goods-info-policy">
                                    <i class="iconfont">&#xe687;</i>
                                    <span>支持7天无理由退货 (拆封后不支持)</span>
                                    </dd>
                                    <dd class="goods-info-userfaq">
                                    <ul>
                                        <li class="scroll">
                                            <i class="iconfont">&#xe668;</i>评价
                                            <b>2.4万</b>
                                        </li>
                                        <li class="scroll mid">
                                            <i class="iconfont">&#xe688;</i>提问
                                            <b>69</b>
                                        </li>
                                        <li class="scroll">
                                            <i class="iconfont">&#xe60d;</i>满意度
                                            <b>98%</b>
                                        </li>
                                    </ul>
                                    </dd>
                                </dl>
                                </dt>
                                <dd class="goods-info-foot">
                                <i class="iconfont">&#xe8e6;</i>查看更多保护套/保护壳
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="goods-detail-nav" id="detail-desc">
                <div class="container">
                    <ul class="detail-list">
                        <li class="current detail-nav">
                            <a href="#detail-desc">详情描述</a>
                        </li>
                        <li class="detail-nav">
                            <a href="#detail-spec">规格参数</a>
                        </li>
                        <li class="detail-nav">
                            <a href="#detail-comment">评价晒单
                            <i>(2.4万)</i></a>
                        </li>
                        <li class="detail-nav">
                            <a href="#detail-question">商品提问
                            <i>(69)</i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-detail-desc">
                <div class="container">
                    <p class="detailblock">
                        <img src="../img/goods/fangaihxt1.jpg" >
                        <img src="../img/goods/fangaihxt2.jpg" >
                        <img src="../img/goods/fangaihxt3.jpg" >
                        <img src="../img/goods/fangaihxt4.jpg" >
                        <img src="../img/goods/fangaihxt5.jpg" >
                    </p>
                    <p>
                        <img src="../img/goods/4cfangai_06.jpg">
                    </p>
                </div>
            </div>
            <div class="goods-detail-nameblock" id="detail-spec">
                <div class="main-block">
                    <div class="border-line"></div>
                    <h2 class="nav-name">规格参数</h2>
                </div>
            </div>
            <div class="goods-detail-param">
                <div class="container">
                    <ul class="param-list">
                        <li class="param-img">
                            <img src="../img/goods/T1XybgBjhT1RXrhCrK!180x180.jpg" alt="">
                        </li>
                        <li class="param-spec">
                            <dl>
                                <dd>
                                <ul>
                                    <li>材质：PU+PC+仿超</li>
                                    <li>尺寸：L/138.5mm*W/72mm*H/11mm</li>
                                    <li>颜色：黑色</li>
                                    <li>商品编号：1153900007</li>
                                </ul>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-detail-nameblock" id="detail-comment">
                <div class="main-block">
                    <div class="border-line"></div>
                    <h2 class="nav-name">评价晒单</h2>
                </div>
            </div>
            <div class="goods-detail-comment">
                <div class="goods-detail-comment-groom">
                    <div class="container">
                        <ul class="main">
                            <li class="percent">
                                <div class="per-num">
                                    <i>98.0</i>%
                                </div>
                                <div class="per-title">购买后满意</div>
                                <div class="per-amonut">
                                    <i>24183</i>名用户投票
                                </div>
                            </li>
                            <li class="item-rainbow-1 groom-content">
                                <dl>
                                    <dt>
                                    <div class="groom-content-userimage">
                                        <img src="../img/goods/MlLCCJxWBK7ame_90.jpg" alt="">
                                    </div>
                                    <div class="groom-content-username">351443011</div>
                                    <div class="groom-content-commentnum">0人有相似评价</div>
                                    </dt>
                                    <dd>
                                    <i class="iconfont">&#xe610;</i>物美价廉，质量很好，客服态度认真。。
                                    </dd>
                                </dl>
                            </li>
                            <li class="item-rainbow-4 groom-content">
                                <dl>
                                    <dt>
                                    <div class="groom-content-userimage">
                                        <img src="../img/goods/yPOAgoj9pHX5A2_90.jpg" alt="">
                                    </div>
                                    <div class="groom-content-username">275783013</div>
                                    <div class="groom-content-commentnum">0人有相似评价</div>
                                    </dt>
                                    <dd>
                                    <i class="iconfont">&#xe610;</i>这保护套我喜欢，自动唤醒功能超棒哦！质量好好！值得赞一个！
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="goods-detail-comment-content">
                    <div class="goods-detail-comment-list">
                        <div class="comment-order-title">
                            <div class="left-title">
                                <h3>最有帮助的评价</h3>
                            </div>
                            <div class="right-title">
                                <i class="iconfont">&#xe614;</i>只显示带图评价
                            </div>
                        </div>
                        <!-- 评论已填充 -->
                    </div>
                    <div class="goods-detail-comment-time">
                        <h3>最新评价</h3>
                        <!-- 已填充 -->
                    </div>
                    <div class="goods-detail-comment-more">
                        加载更多&nbsp;
                        <i class="iconfont">&#xe718;</i>
                    </div>
                </div>
            </div>
            <div class="goods-detail-nameblock" id="detail-question">
                <div class="main-block">
                    <div class="border-line"></div>
                    <h2 class="nav-name">商品提问</h2>
                </div>
            </div>
            <div class="goods-detail-question">
                <div class="question-input">
                    <input type="text" class="input-block" placeholder="输入你的提问">
                    <div class="question-btn">提问</div>
                </div>
                <div class="question-order">
                    <div class="order-block">
                        <span class="questionhelp current">最有帮助</span>
                        <span class="sep">|</span>
                        <span class="questionnew">最新</span>
                    </div>
                </div>
            </div>
            <div class="xm-carousel-container">
                <h2 class="xm-recommend-title">
                <span>买过该商品的人还买了</span>
                </h2>
                <div class="xm-recommend">
                    <div class="xm-carousel-wrapper">
                        
                    </div>
                    <div class="xm-pagers-wrapper">
                        <ul class="xm-pager">
                            <li class="pager pager-active">
                                <span class="dot">1</span>
                            </li>
                            <li class="pager">
                                <span class="dot">2</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="xm-carousel-container">
                <h2 class="xm-recommend-title">
                <span>最近浏览的商品和相关推荐</span>
                </h2>
                <div class="xm-recommend">
                    <div class="xm-carousel-wrapper">
                    </div>
                    <div class="xm-pagers-wrapper">
                        <ul class="xm-pager">
                            <li class="pager pager-active">
                                <span class="dot">3</span>
                            </li>
                            <li class="pager">
                                <span class="dot">4</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <div class="goods-subbar">
            <div class="container">
                <dl class="good-info">
                    <dt>
                    <img src="../img/goods/T1XybgBjhT1RXrhCrK!68x68.jpg" alt="">
                    </dt>
                    <dd>
                    <strong>小米4c 智能唤醒翻盖保护套 黑色</strong>
                    <p>
                        <em>29元</em>
                        <del>49元</del>
                    </p>
                    </dd>
                </dl>
                <div class="good-menu">
                    <ul class="detail-list">
                        <li class="current">
                            <a href="#detail-desc">详情描述</a>
                        </li>
                        <li class>
                            <a href="#detail-spec">规格参数</a>
                        </li>
                        <li class>
                            <a href="#detail-comment">评价晒单 <i>(2.4万)</i></a>
                        </li>
                        <li class>
                            <a href="#detail-question">商品提问 <i>(69)</i></a>
                        </li>
                    </ul>
                </div>
                <div class="good-cart">
                    <div class="fr">
                        <a href="" class="btn">
                            <i class="iconfont">&#x1001;</i>加入购物车
                        </a>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal">
            <div class="modal-bd">
                <div class="text">
                    <h3 class="title">提问内容不能为空</h3>
                </div>
                <div class="actions">
                    <button class="btn">确定</button>
                </div>
                <div class="close">
                    <i class="iconfont">&#xe701;</i>
                </div>
            </div>
            </div>
            <div class="modal">
                <div class="modal-bd">
                    <div class="text">
                        <h3 class="title">您确定提交此问题吗？</h3>
                    </div>
                    <div class="actions">
                        <button class="btn-candel">取消</button>
                        <button class="btn">确定</button>
                    </div>
                    <div class="close">
                        <i class="iconfont">&#xe701;</i>
                    </div>
                </div>
            </div>
                <div class="modal-back"></div>
                <div class="good-pic-zoom">
                    <div class="zoom-big-block">
                        <div class="img">
                        </div>
                    </div>
                    <div class="zoom-big-nav">
                        <div class="nav-block left-nav">
                            <i class="iconfont">&#xe676;</i>
                        </div>
                        <div class="nav-block right-nav">
                            <i class="iconfont">&#xe658;</i>
                        </div>

                    </div>
                    <ul class="zoom-sml-list">
                        <li class>
                            <img src="../img/goods/T1XybgBjhT1RXrhCrK!60x60.jpg" alt="">
                        </li>
                        <li class>
                            <img src="../img/goods/T1v3hvBCZv1RXrhCrK!60x60.jpg" alt="">
                        </li>
                        <li class>
                            <img src="../img/goods/T1dQh_BgAT1RXrhCrK!60x60.jpg" alt="">
                        </li>
                        <li class>
                            <img src="../img/goods/T1pjL_BjWT1RXrhCrK!60x60.jpg" alt="">
                        </li>
                    </ul>
                    <div class="exit-btn">
                        <i class="iconfont">&#xe701;</i>
                    </div>
                </div>
                <div class="modal-choose-regions">
                    <span class="close">
                        <i class="iconfont">&#xe701;</i>
                    </span>
                    <div class="pro-choose-regions">
                        <div class="choosebox">
                            <div class="search-section">
                                <i class="fa fa-search"></i>
                                <input type="text" class="search-input" placeholder="输入街道、乡镇、小区或商圈名称">
                                <span class="search-close">
                                    <i class="iconfont">&#xe701;</i>
                                </span>
                            </div>
                            <div class="switch-type">
                                <span class="choose-address">直接选择地址></span>
                            </div>
                            <div class="my-address">
                                <div class="title">我的收货地址</div>
                                <div class="non-login">
                                    现在<a href="">登录</a>，可根据收货地址快速定位
                                </div>
                            </div>
                        </div>
                        <div class="choosebox-select">
                            <div class="search-address">
                                <div class="select-box">
                                    <div class="select-item" data-info="选择省份/自治区">选择省份/自治区</div>
                                    <div class="select-item hide" data-info="选择城市/地区">选择城市/地区</div>
                                    <div class="select-item hide" data-info="选择区县">选择区县</div>
                                    <div class="select-item hide" data-info="选择配送区域">选择配送区域</div>
                                </div>
                                <div class="options-box">
                                <ul class="options-list"></ul>
                            <ul class="options-list hide"></ul>
                        <ul class="options-list hide"></ul>
                    <ul class="options-list hide"></ul>
                </div>
            </div>
            <div class="switch-type">搜索附近地址></div>
        </div>
    </div>
</div>
<div class="modal-null">
    <div class="modal-bd">
        <div class="text">
            <h3 class="title">不能为空</h3>
        </div>
        <div class="close">
            <i class="iconfont">&#xe701;</i>
        </div>
        <div class="actions">
            <button class="btn">确定</button>
        </div>
    </div>
</div>
<div class="modal-report">
    <div class="modal-bd">
        <div class="text">
            <h3 class="title">发表成功，请等待审核</h3>
        </div>
        <div class="close">
            <i class="iconfont">&#xe701;</i>
        </div>
        <div class="actions">
            <button class="btn">确定</button>
        </div>
    </div>
</div>
<img src="" class="tran-pic">
<div class="tran-back"></div>


<div class="footer">
            <div class="container">
                <div class="footer-service">
                    <ul class="list-service fn-clear">
                        <li><a href="#"><i class="iconfont">&#xe6c4;</i>预约维修服务</a></li>
                        <li><a href="#"><i class="iconfont">&#xe620;</i>7天无理由退货</a></li>
                        <li><a href="#"><i class="iconfont">&#xe606;</i>15天免费换货</a></li>
                        <li><a href="#"><i class="iconfont">&#xe669;</i>满150元包邮</a></li>
                        <li><a href="#"><i class="iconfont">&#xe66d;</i>520余家售后网点</a></li>
                    </ul>
                </div>
                <div class="footer-links fn-clear">
                    <dl class="col-links"><dt>帮助中心</dt>
                    <dd><a href="#">账户管理</a></dd>
                    <dd><a href="#">购物指南</a></dd>
                    <dd><a href="#">订单操作</a></dd></dl>
                    <dl class="col-links"><dt>服务中心</dt>
                    <dd><a href="#">售后政策</a></dd>
                    <dd><a href="#">自助服务</a></dd>
                    <dd><a href="#">相关下载</a></dd></dl>
                    <dl class="col-links"><dt>线下门店</dt>
                    <dd><a href="#">小米之家</a></dd>
                    <dd><a href="#">服务网点</a></dd>
                    <dd><a href="#">零售网点</a></dd></dl>
                    <dl class="col-links"><dt>关于小米</dt>
                    <dd><a href="#">了解小米</a></dd>
                    <dd><a href="#">加入小米</a></dd>
                    <dd><a href="#">联系我们</a></dd></dl>
                    <dl class="col-links"><dt>关注我们</dt>
                    <dd><a href="#">新浪微博</a></dd>
                    <dd><a href="#">小米部落</a></dd>
                    <dd><a href="#">官方维微信</a></dd></dl>
                    <dl class="col-links"><dt>特色服务</dt>
                    <dd><a href="#">F码通道</a></dd>
                    <dd><a href="#">礼物码</a></dd>
                    <dd><a href="#">防伪查询</a></dd></dl>
                    <div class="col-contact"><p class="phone">400-100-5678</p>
                    <p><span class="servicetime">周一至周日 8:00-18:00</span>
                    <br>（仅收市话费）</p>
                    <a href="#" class="btn"><i class="iconfont">&#xe619;</i> 24小时在线客服</a>
                    </div>
                </div>
            </div>
    </div>
<div class="end-info">
    <div class="container fn-clear">
        <div class="alogo"></div>
        <div class="info-text">
            <p class="sites">
                <a href="#">小米商城</a><span class="sep">|</span><a href="#">MIUI</a><span class="sep">|</span><a href="#">米聊</a><span class="sep">|</span><a href="#">多看书城</a><span class="sep">|</span><a href="#">小米路由器</a><span class="sep">|</span><a href="#">视频电话</a><span class="sep">|</span><a href="#">小米天猫店</a><span class="sep">|</span><a href="#">小米淘宝直营店</a><span class="sep">|</span><a href="#">小米网盟</a><span class="sep">|</span><a href="#">小米移动</a><span class="sep">|</span><a href="#">隐私政策</a><span class="sep">|</span><a href="#">Select Region</a>
            </p>
            <p>©<a href="#">mi.com</a> 京ICP证110507号 <a href="#"> 京ICP备10046444号</a><a href="#"> 京公网安备11010802020134号 </a> <a href="#"> 京网文[2014]0059-0009号 </a><br> 违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
        </div>
        <div class="info-links">
            <a href="#"><img src="../img/truste.png"></a>
            <a href="#"><img src="../img/v-logo-2.png"></a>
            <a href="#"><img src="../img/v-logo-1.png"></a>
            <a href="#"><img src="../img/v-logo-3.png"></a>
        </div>
    </div>
    <div class="slogan"></div>
</div>




</body>
</html>
<script src="../lib/jquery-3.2.1.js"></script>
<script type="text/javascript" src="../js/goods/base.js"></script>
<script type="text/javascript" src='../js/jsrender.js'></script>
<script type="text/javascript" src="../js/goods/index.js"></script>
<script type="text/javascript" src="../js/goods/another.js"></script>
<script type="text/javascript" src="../js/goods/header.js"></script>
<!-- header-cart-menu-tmpl -->
<script id="headerCartMenuTmpl" type="text/x-jsrender">
    <!-- 没有东西时： -->
    <div class="cart-tip">购物车中还没有商品,赶紧选购吧</div>
    <ul class="items">
    </ul>
    <div class="cart-total fn-clear">
        <span class="total">
            共 <em>2</em> 件商品
            <span class="price"><em>338.00</em>元</span>
        </span>
        <a class="btn-cart" href="#">去购物车结算</a>
    </div>
</script>

<!-- header-cart-item-tmpl -->
<script id="headerCartItemTmpl" type="text/x-jsrender">
    <li>
        <div class="cart-item">
            <a href="#">
                <img src={{:imgsrc}} width='60px' height='60px'>
            </a>
            <a class="name" href="#">{{:name}}</a>
            <span class="price">{{:price}}元 x {{:num}}</span>
        </div>
    </li>
</script>


<!-- header-userinfo-tmpl -->
<script id="headerUserInfoTmpl" type="text/x-jsrender">
    <span class="user">
        <!--跳转到个人中心 -->
        <a class="user-name" href="#" target="_blank">
            <span class="name"></span>
            <i class="iconfont">&#xe607;</i>
        </a>
        <ul class="menu">
            <li><a  href="#" target="_blank">个人中心</a></li>
            <li><a  href="#" target="_blank">评价晒单</a></li>
            <li><a  href="#" target="_blank">我的喜欢</a></li>
            <li><a  href="#" target="_blank">小米账户</a></li>
            <li><a  href="javascript:void(0)" target="_blank">退出登录</a></li>
        </ul>
    </span>
</script>

<!--header-nav-menu-tmpl -->
<script id="headerNavMenuTmpl" type="text/x-jsrender">
    {{if #index==0}}
        <li class="first">
        {{else}}
        <li>
    {{/if}}
    {{if flag}}
         <div class="flag">{{:flag}}</div>
         {{else}}
         <div class="flag no-border"></div>
    {{/if}}
         <div class="figure">
              <a href="#"><img src='../{{:imgsrc}}' alt=""></a>
         </div>
         <div class="info">
             <a href="#">{{:name}}</a>
             <p class="price">{{:price}}</p>
         </div>
     </li>
</script>

<!-- header-nav-item-tmpl -->
<script id="headerNavItemTmpl" type="text/x-jsrender">
    <li class="nav-item">
        <a href="javascript: void(0);" class="link">
            <span class="text">{{:categoryName}}</span>
        </a>
    </li>
</script>
<!-- header-search-tmpl -->
<script id="headerSearchTmpl" type="text/x-jsrender">
   <input class="search-text" type="search">
                <input type="submit" class="search-btn iconfont" value="&#xe618;">
                <div class="search-hotwords">
                    <a href="#">小米6</a><!-- 
                    --><a href="#">小米MIX现货</a>
                </div>
                <div class="search-keywordlist">
                    <ul class="result-list">
                        {{for keyWorlds}}
                            <li><a href="#">{{:name}}&nbsp;Plus<span class="result">约有{{:num}}件</span></a></li>
                        {{/for}}    
                    </ul>
                </div>
</script>
<!-- home-slider-tmpl -->

<script id="homeSliderTmpl" type="text/x-jsrender">
                <ul class="home-slider-list">
                    {{for homeslider}}
                        <li class="slider-list-item">
                            <a href="#" class="title">
                            {{:category}}<i class="iconfont">&#xe658;</i>
                            </a>
                            <ul class="list-goods list-goods-col-{{:colnum}}">
                                {{for goods}}
                                    <li class="star-goods">
                                        {{if buybtn}}
                                        <a href="#" class="link">
                                        {{else}}
                                        <a href="#" class="link link-max">
                                        {{/if}}
                                            <img src='../{{:imgsrc}}' alt="">
                                            <span class="text">{{:goodsname}}</span>
                                        </a>
                                        
                                        {{if buybtn}}
                                            <a href="#" class="star-goods-btn"> {{:buybtn}}</a>
                                        {{/if}}
                                    </li>
                                {{/for}}    
                            </ul>
                        </li>
                    {{/for}}
                </ul>
</script>


<!-- goods-question-tmpl -->
<script id="goodsQuestionTmpl" type="text/x-jsrender">
    <ul class="question-content">
    {{for items}}
        <li>
            <div class="left-hand">
                <div class="hand-block">
                    <i class="iconfont">&#xe60d;</i>
                    <span class="hand-number">{{:num}}</span>
                </div>
            </div>
            <div class="mid-detail">
                <h3 class="question-title">{{:question}}</h3>
                <div class="answer-content">
                    <p> {{:answer}} </p>
                </div>
            </div>
            <div class="right-date">
                <div class="question-title-date">{{:questiondate}}</div>
                <div class="question-content-date">{{:answerdate}}</div>
            </div>
        </li>
    {{/for}}
    </ul>
    <div class="more-question">
        查看全部 70 条已回答问题
        <i class="fa fa-angle-right"></i>
    </div>
</script>

<!-- goods-carousel-tmpl -->
<script id="goodsCarouselTmpl" type="text/x-jsrender">
    <ul class="xm-carousel-col-5-list">
    {{for items}}
        <li>
            <dl>
                <dt>
                <img src={{:imgsrc}} alt="">
                </dt>
                <dd class="xm-recommend-name">{{:name}} 2</dd>
                <dd class="xm-recommend-price">{{:price}}元</dd>
                <dd class="xm-recommend-tips">   {{:peoplenum}}人好评    </dd>
                <dd class="xm-recommend-notice"></dd>
            </dl>
        </li>
    {{/for}}
    </ul>
</script>


<!-- goods-comments-tmpl -->
<script id="goodsCommentsTmpl" type="text/x-jsrender">
    <ul class="comment-box-list">
    {{for items}}
    <li class="item-rainbow-{{:bordertype}}">
        <div class="user-image">
            <img src={{:userimgsrc}} alt="">
        </div>
        <div class="user-emoj">
            超爱<i class="iconfont">&#xe600;</i>
        </div>
        <div class="user-name-info">
            <span class="user-name">{{:username}}</span>
            <span class="user-time">{{:user-time}}</span>
            <span class="pro-info">{{:proinfo}}</span>
        </div>
        <div class="user-hand-block">
            <a href="javascript:void(0)">
                <i class="iconfont">&#xe60d;</i>赞&nbsp;
                <span class="amount">{{:amount}}</span>
            </a>
        </div>
        <dl class="user-comment">
            <dt class="user-comment-content">
                <p class="content-detail">{{:content}}</p>
                {{if imgamount>0}}
                <div class="content-img format-{{:imgamount}}">
                    {{for imgs}}
                    <img class="img-{{:#index}}" src={{:imgsrc}} alt="">
                    {{/for}}
                </div>
                {{/if}}
            </dt>
            <dd class="user-comment-self-input">
                <div class="input-block">
                    <input type="text" placeholder="回复楼主" class="answer-input">
                    <a href="javascript:void(0);" class="answer-btn">回复</a>
                </div>
            </dd>
            {{if officail.content}}
            <dd class="user-comment-answer">
                <img class="self-image" src="../img/goods/logo.png" alt="">
                <p>{{:officail.content}}<span class="official-name">官方回复</span>
                    <a href="javascript:void(0)">
                        <i class="iconfont">&#xe60d;</i>赞客服&nbsp;
                        <span class="amonut">{{:officail.amount}}</span>
                    </a>
                </p>
            </dd>
            {{/if}}
            {{if comments}}
            {{for comments}}
            <dd class="user-comment-answer">
                <img class="self-image" src={{:imgsrc}} alt="">
                <p>{{:content}}- <span class="answer-user-name">{{:username}}</span>
                </p>
            </dd>
            {{/for}}
            {{/if}}
        </dl>
    </li>
    {{/for}}
    </ul>
</script>

<!-- goods-newest-comments-tpl -->
<script id="goodsNewestCommentsTmpl" type="text/x-jsrender">
    <ul class="comment-time-list">
        {{for items}}
        <li class="timeline">
            <h4>{{:time}}</h4>
            <p class="line-content"> {{:content}} </p>
            <div class="line-foot">
                <div class="line-left">来自于 {{:name}}</div>
                <div class="line-right">
                    <i class="iconfont">&#xe60d;</i>有帮助&nbsp;&nbsp;
                    <span class="amount">{{:amount}}</span>
                </div>
            </div>
            <div class="line-dot item-rainbow-{{:bordertype}}"></div>
        </li>
        {{/for}}
    </ul>
</script>